version: '3.8'

services:
  frontend:
    build:
      context: ./sound_to_sheet_web  # 올바른 경로로 수정
    ports:
      - "3000:3000"
    networks:
      - app-network

  backend:
    build:
      context: ./app  # 백엔드 디렉토리
    ports:
      - "8000:8000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
